<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arag Welcome</title>
    {{import_css "static/css/index.css"}}
</head>
<body>
    {{#unless release}}
        {{live_update}}
    {{/unless}}
    <div class="main">
        <h1>Arag</h1>
        <h2>Anspar Dapp Builder</h3>
        <video ipfs="QmXtHcybNcUMx2EZfazcLGT1tJp9kxSxPffi63pTqLE1FU" controls></video>
        <img src="{{import_img "static/logo.png"}}">
        <div class="nav">
            <!-- Use of urls, like this, in your final build is discouraged -->
            <a target="_blank" href="https://anspar.io/dev">Docs</a>
            <a target="_blank" href="https://discord.gg/ENQfPEcrZJ">Discord</a>
            <a target="_blank" href="https://twitter.com/anspar_io">Tweeter</a>
            <a target="_blank" href="https://youtube.com/playlist?list=PLynQF5IaLl6HypAzcdlxSqBdPshRNXtS6">Tutorials</a>
            <a target="_blank" href="https://handlebarsjs.com/guide/expressions.html">Handlebars Docs</a>
        </div>
    </div>
    {{inject_gateway}}
    {{import_js "static/js/index.js"}} 
</body>
</html>
            